extends ../layouts/layout

block content
  .row
    .col-md-12
      h1 Login:
      ul.list-inline.list-unstyled
        li
          a.btn.btn-primary(href="/auth/thirdparty?service=facebook") Login with Facebook
        li
          a.btn.btn-primary(href="/auth/thirdparty?service=google") Login with Google
        li
          a.btn.btn-primary(href="/auth/thirdparty?service=twitter") Login with Twitter
